/* FOOTER */
/*------------------------------------------------------------------------*/

#footer{
	background:$footer-bg;
	text-align:center;
	border-top:2px solid $footer-border-top-color;
	color:$footer-text-color;
	padding:50px 0px;
	font-size:.9rem;
	}

#back_up {
    height: 55px;
    width: 55px;
    display: inline-block;
    text-align: center;
    margin: 0px auto 20px;
    cursor: pointer;
    opacity: .9;
    transition: .2s;
    -webkit-transition: .2s;
    -ms-transition: .2s;
    background-image: url(../statics/pagetop.png);
    background-position: center;
    background-repeat: no-repeat;
    behavior: url(../PIE/PIE.htc);
    background-size: 55px;
}
#back_up:hover{
	opacity:1;
	}