@font-face {
    font-family: 'century_gothic';
    src: url('../century-gothic/gothic_0-webfont.eot');
    src: url('../century-gothic/gothic_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../century-gothic/gothic_0-webfont.woff') format('woff'),
         url('../century-gothic/gothic_0-webfont.ttf') format('truetype'),
         url('../century-gothic/gothic_0-webfont.svg#century_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'century_gothic_bold';
    src: url('../century-gothic/gothicb-webfont.eot');
    src: url('../century-gothic/gothicb-webfont.eot?#iefix') format('embedded-opentype'),
         url('../century-gothic/gothicb-webfont.woff') format('woff'),
         url('../century-gothic/gothicb-webfont.ttf') format('truetype'),
         url('../century-gothic/gothicb-webfont.svg#century_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}