/* ------------------- */

$steiner-bg-color:#dadada;
$steiner-green:#a9bc99;
$steiner-dark-grey:#555;
$steiner-light-grey:#ccc;
$steiner-light-grey-2:#f0f0f0;
$steiner-yellow:rgb(169,137,12);

/* ------------------- */

// Body
$body-bg-color: $steiner-light-grey; 
$body-font-weight:100;
$body-font-family:'century_gothic',arial,sans-serif;
$body-base-margin:20px;
$body-base-color:$steiner-dark-grey;


// ANCHOR
$anchor-color: $steiner-dark-grey;


// Container
$container-bg-color: $body-bg-color;
$container-bg-image: url('../statics/bg-white-shaddow.png');
$container-min-height: 900px;

// Header
$header-border-bottom-color: $steiner-yellow;
$header-site-title-color: $steiner-dark-grey;
$header-site-description-color: $steiner-yellow;


//Menu
$menu-background:$steiner-light-grey-2;
$menu-hover-background:$steiner-green;
$menu-color:$steiner-dark-grey;

// Stones
$box-top-white: url('../statics/box-houses-top-white.png');
$box-top-wood: url('../statics/box-houses-top-wood.png');
$box-bg-wood: url('../statics/box-bg-wood.png');
$box-bottom-shade: url(../statics/box-shadow-bottom.png);

    // articles
    $article-bg: $steiner-light-grey-2;
    $article-header-shadow-color: $steiner-light-grey-2;
    $aritcle-header-bg-fill: $steiner-light-grey-2;
    $article-p-color: $steiner-dark-grey;


// Footer
$footer-bg:darken($steiner-light-grey,5);
$footer-border-top-color:$header-border-bottom-color;
$footer-text-color:$steiner-dark-grey;
$footer-to-top-image:url(../statics/pagetop.png);


// Kalender
$event-border-color:$steiner-yellow;
$event-text-color:$steiner-dark-grey;


//Mobil/tablet menu
$mobile-expand-bg-color:$menu-color;
$swipe-menu-background:$body-bg-color;
$swipe-menu-border-left-color:$menu-hover-background;